n8n/workflow2-outgoing.json
{
  "name": "Brain Template - Outgoing (GitHub → LINE / Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-callback",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-576, 112],
      "id": "8c4da11f-7be8-49ad-bce6-34dff2bf3d33",
      "name": "Webhook",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Brain Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.platform }}",
                    "rightValue": "=telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "628c625d-58db-453b-96f8-0efd240516ea"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e928b81c-f7cc-4d35-bb91-cea8d5faa9aa",
                    "leftValue": "={{ $json.body.platform }}",
                    "rightValue": "=line",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=line"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-368, 112],
      "id": "83677b5b-0a28-4894-811b-42231083aca2",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.chat_id }}",
        "text": "={{ $json.body.result }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-160, 16],
      "id": "9fb82b08-3090-45d9-83e4-b413b3ae146c",
      "name": "Send Telegram Message",
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body;\nconst to = data.source_type === 'group' ? data.group_id : data.user_id;\nreturn {\n  json: {\n    to: to,\n    text: (data.result || '').replace(/\\n/g, '\\\\n').replace(/\\r/g, '')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 128],
      "id": "2507e9d6-dcb9-43a6-b0f6-5389bc3639a3",
      "name": "Format LINE Push"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.to }}\",\n  \"messages\": [{\"type\": \"text\", \"text\": \"{{ $json.text }}\"}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [400, 128],
      "id": "613d699f-ae56-4ab4-9d5e-8a6698f917ec",
      "name": "LINE Push Message",
      "credentials": {
        "httpHeaderAuth": {
          "name": "LINE channel token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format LINE Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format LINE Push": {
      "main": [
        [
          {
            "node": "LINE Push Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
